USE [master]
GO
/****** Object:  Database [dbprojeto]    Script Date: 08/03/2026 18:09:18 ******/
CREATE DATABASE [dbprojeto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbprojeto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\dbprojeto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbprojeto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\dbprojeto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbprojeto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbprojeto]
GO
USE [dbprojeto]
GO
/****** Object:  Sequence [dbo].[seq_cod_alocacao]    Script Date: 08/03/2026 18:09:18 ******/
CREATE SEQUENCE [dbo].[seq_cod_alocacao] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
USE [dbprojeto]
GO
/****** Object:  Sequence [dbo].[seq_cod_funcionario]    Script Date: 08/03/2026 18:09:18 ******/
CREATE SEQUENCE [dbo].[seq_cod_funcionario] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
USE [dbprojeto]
GO
/****** Object:  Sequence [dbo].[seq_cod_funcionarioo]    Script Date: 08/03/2026 18:09:18 ******/
CREATE SEQUENCE [dbo].[seq_cod_funcionarioo] 
 AS [int]
 START WITH 4
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
USE [dbprojeto]
GO
/****** Object:  Sequence [dbo].[seq_cod_tarefa]    Script Date: 08/03/2026 18:09:18 ******/
CREATE SEQUENCE [dbo].[seq_cod_tarefa] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
USE [dbprojeto]
GO
/****** Object:  Sequence [dbo].[seq_tab_projects]    Script Date: 08/03/2026 18:09:18 ******/
CREATE SEQUENCE [dbo].[seq_tab_projects] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Table [dbo].[tab_employees]    Script Date: 08/03/2026 18:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tab_employees](
	[cod_funcionario] [int] NOT NULL,
	[nome] [varchar](200) NULL,
	[cargo] [varchar](500) NULL,
	[departamento] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_funcionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tab_projects]    Script Date: 08/03/2026 18:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tab_projects](
	[cod_projeto] [int] NOT NULL,
	[nome] [varchar](200) NULL,
	[descricao] [varchar](500) NULL,
	[data_inicio] [datetime] NULL,
	[data_termino] [datetime] NULL,
	[status] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_projeto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tab_projects_allocation]    Script Date: 08/03/2026 18:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tab_projects_allocation](
	[cod_alocacao] [int] NOT NULL,
	[cod_funcionario] [int] NULL,
	[cod_tarefa] [int] NULL,
	[data_inicio] [datetime] NULL,
	[data_termino] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_alocacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tab_projects_tasks]    Script Date: 08/03/2026 18:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tab_projects_tasks](
	[cod_tarefa] [int] NOT NULL,
	[cod_projeto] [int] NULL,
	[nome] [varchar](200) NULL,
	[descricao] [varchar](500) NULL,
	[data_inicio] [datetime] NULL,
	[data_termino] [datetime] NULL,
	[status] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_tarefa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tab_employees] ADD  CONSTRAINT [DF_tab_employees_cod_funcionario]  DEFAULT (NEXT VALUE FOR [dbo].[seq_cod_funcionarioo]) FOR [cod_funcionario]
GO
ALTER TABLE [dbo].[tab_projects] ADD  CONSTRAINT [DF_tab_projects_cod_projeto]  DEFAULT (NEXT VALUE FOR [dbo].[seq_tab_projects]) FOR [cod_projeto]
GO
ALTER TABLE [dbo].[tab_projects] ADD  CONSTRAINT [DF_tab_projects_status]  DEFAULT ('P') FOR [status]
GO
ALTER TABLE [dbo].[tab_projects_allocation] ADD  CONSTRAINT [DF_tab_projects_allocation_cod_alocacao]  DEFAULT (NEXT VALUE FOR [dbo].[seq_cod_alocacao]) FOR [cod_alocacao]
GO
ALTER TABLE [dbo].[tab_projects_tasks] ADD  CONSTRAINT [DF_tab_projects_tasks_cod_tarefa]  DEFAULT (NEXT VALUE FOR [dbo].[seq_cod_tarefa]) FOR [cod_tarefa]
GO
ALTER TABLE [dbo].[tab_projects_allocation]  WITH CHECK ADD  CONSTRAINT [fk_cod_funcionario] FOREIGN KEY([cod_funcionario])
REFERENCES [dbo].[tab_employees] ([cod_funcionario])
GO
ALTER TABLE [dbo].[tab_projects_allocation] CHECK CONSTRAINT [fk_cod_funcionario]
GO
ALTER TABLE [dbo].[tab_projects_allocation]  WITH CHECK ADD  CONSTRAINT [fk_cod_tarefa] FOREIGN KEY([cod_tarefa])
REFERENCES [dbo].[tab_projects_tasks] ([cod_tarefa])
GO
ALTER TABLE [dbo].[tab_projects_allocation] CHECK CONSTRAINT [fk_cod_tarefa]
GO
ALTER TABLE [dbo].[tab_projects_tasks]  WITH CHECK ADD  CONSTRAINT [fk_cod_projeto] FOREIGN KEY([cod_projeto])
REFERENCES [dbo].[tab_projects] ([cod_projeto])
GO
ALTER TABLE [dbo].[tab_projects_tasks] CHECK CONSTRAINT [fk_cod_projeto]
GO
/****** Object:  StoredProcedure [dbo].[spr_alocacao]    Script Date: 08/03/2026 18:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spr_alocacao]
(
    @ID      INT = NULL,
    @Empresa INT = NULL,
    @Nome    VARCHAR(250) = NULL,
    @Data    DATETIME = NULL,
    @Data2   DATETIME = NULL,
    @Numero  INT = NULL,
    @Opcao   INT,
    @Texto   VARCHAR(250) = NULL
)

-----------------------------------------------------------------------------------------------------------------------
-- PROCEUDRE CRIADA NO DIA 23/01/2026																				 --
-- --------------------------------------------------------------------------------------------------------------------
-- FEITA POR Wanderson Santos Araujo																				 --
-----------------------------------------------------------------------------------------------------------------------
-- Wanderson 23/01/2026 | Criação de pesquisa e cadastro com as Opção 1 e 2											 --
--           |																										 --
--           |																										 --
--           |																										 --
--           |																										 --
-----------------------------------------------------------------------------------------------------------------------

AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @SQL NVARCHAR(MAX);

     IF @Opcao = 1
    BEGIN
        SELECT tpa.cod_alocacao,
               tpa.cod_funcionario,
               te.Nome AS Nome_Colaborador,
               tpa.cod_tarefa,
               tps.Nome AS Nome_tarefa,
               tpa.data_inicio,
               tpa.data_termino,
               tps.descricao AS descricao_tarefa,
               tp.cod_projeto,
               tp.nome AS nome_projeto,
               CASE 
                    WHEN tps.status = 'P' THEN 'Pendente'
                    WHEN tps.status = 'E' THEN 'Em Andamento'
                    WHEN tps.status = 'S' THEN 'Suspenso'
                    WHEN tps.status = 'C' THEN 'Concluído'
                    WHEN tps.status = 'B' THEN 'Bloqueado'
                    ELSE 'Desconhecido' END AS status_alocacao
        FROM dbprojeto.dbo.tab_projects_allocation tpa
        JOIN dbprojeto.dbo.tab_employees te 
             ON te.cod_funcionario = tpa.cod_funcionario
        JOIN dbprojeto.dbo.tab_projects_tasks tps 
             ON tps.cod_tarefa = tpa.cod_tarefa
        JOIN dbprojeto.dbo.tab_projects tp
             ON tps.cod_projeto = tp.cod_projeto
        RETURN;
    END

    ----------------------------------------------------------------
    -- OPÇÃO 2 - PESQUISA
    ----------------------------------------------------------------
    ELSE IF @Opcao = 2
    BEGIN
        DECLARE @Like VARCHAR(252) = '%' + ISNULL(@Texto,'') + '%';

        -- validação mínima (mantendo padrão)
        IF @Nome IS NULL
        BEGIN
            RAISERROR('A pesquisa feita não trouxe nenhum resultado verifique a opcao de pesquisa valida',16,1);
            RETURN;
        END

        -- whitelist
        IF @Nome NOT IN (
            'cod_alocacao',
            'cod_funcionario',
            'Nome_Colaborador',
            'cod_tarefa',
            'Nome_tarefa',
            'data_inicio',
            'data_termino'
        )
        BEGIN
            RAISERROR('A pesquisa feita não trouxe nenhum resultado verifique a opcao de pesquisa valida',16,1);
            RETURN;
        END

        SET @SQL = N'
        IF NOT EXISTS (
            SELECT 1
            FROM dbprojeto.dbo.tab_projects_allocation tpa
            JOIN dbprojeto.dbo.tab_employees te 
                 ON te.cod_funcionario = tpa.cod_funcionario
            JOIN dbprojeto.dbo.tab_projects_tasks tps 
                 ON tps.cod_tarefa = tpa.cod_tarefa
            WHERE ';

        -- datas (período)
        IF @Nome IN ('data_inicio','data_termino')
        BEGIN
            SET @SQL += N'tpa.' + QUOTENAME(@Nome) + N' >= @pData
                          AND tpa.' + QUOTENAME(@Nome) + N' < DATEADD(DAY,1,CONVERT(date,@pData2))';
        END
        -- campos numéricos
        ELSE IF @Nome IN ('cod_alocacao','cod_funcionario','cod_tarefa')
        BEGIN
            SET @SQL += N'tpa.' + QUOTENAME(@Nome) + N' = TRY_CONVERT(INT,@pTexto)';
        END
        -- nomes (joins)
        ELSE IF @Nome = 'Nome_Colaborador'
        BEGIN
            SET @SQL += N'te.Nome LIKE @pLike';
        END
        ELSE IF @Nome = 'Nome_tarefa'
        BEGIN
            SET @SQL += N'tps.Nome LIKE @pLike';
        END

        SET @SQL += N'
        )
        BEGIN
            RAISERROR(''A pesquisa feita não trouxe nenhum resultado verifique a opcao de pesquisa valida'',16,1);
            RETURN;
        END

        SELECT tpa.cod_alocacao,
       tpa.cod_funcionario,
       te.Nome AS Nome_Colaborador,
       tpa.cod_tarefa,
       tps.Nome AS Nome_tarefa,
       tpa.data_inicio,
       tpa.data_termino,
       tps.descricao AS descricao_tarefa,
       tp.cod_projeto,
       tp.nome AS nome_projeto,
       CASE 
            WHEN tps.status = ''P'' THEN ''Pendente''
            WHEN tps.status = ''E'' THEN ''Em Andamento''
            WHEN tps.status = ''S'' THEN ''Suspenso''
            WHEN tps.status = ''C'' THEN ''Concluído''
            WHEN tps.status = ''B'' THEN ''Bloqueado''
            ELSE ''Desconhecido'' END AS status_alocacao
FROM dbprojeto.dbo.tab_projects_allocation tpa
JOIN dbprojeto.dbo.tab_employees te 
     ON te.cod_funcionario = tpa.cod_funcionario
JOIN dbprojeto.dbo.tab_projects_tasks tps 
     ON tps.cod_tarefa = tpa.cod_tarefa
JOIN dbprojeto.dbo.tab_projects tp
     ON tps.cod_projeto = tp.cod_projeto
WHERE  ';

        -- repete a condição
        IF @Nome IN ('data_inicio','data_termino')
        BEGIN
            SET @SQL += N'tpa.' + QUOTENAME(@Nome) + N' >= @pData
                          AND tpa.' + QUOTENAME(@Nome) + N' < DATEADD(DAY,1,CONVERT(date,@pData2))';
        END
        ELSE IF @Nome IN ('cod_alocacao','cod_funcionario','cod_tarefa')
        BEGIN
            SET @SQL += N'tpa.' + QUOTENAME(@Nome) + N' = TRY_CONVERT(INT,@pTexto)';
        END
        ELSE IF @Nome = 'Nome_Colaborador'
        BEGIN
            SET @SQL += N'te.Nome LIKE @pLike';
        END
        ELSE IF @Nome = 'Nome_tarefa'
        BEGIN
            SET @SQL += N'tps.Nome LIKE @pLike';
        END

        EXEC sp_executesql
            @SQL,
            N'@pTexto VARCHAR(250), @pLike VARCHAR(252), @pData DATETIME, @pData2 DATETIME',
            @pTexto = @Texto,
            @pLike  = @Like,
            @pData  = @Data,
            @pData2 = @Data2;

        RETURN;
    END
    ----------------------------------------------------------------
    -- OPÇÃO 3 - DATASET SECO PARA GRAVAÇÃO (SEM JOIN)
    ----------------------------------------------------------------
    ELSE IF @Opcao = 3
    BEGIN
    -- SELECT simples da tabela (resultset) => permite OPEN + APPEND/POST via UpdateSQL
    SELECT
        cod_alocacao,
        cod_funcionario,
        cod_tarefa,
        data_inicio,
        data_termino
    FROM dbprojeto.dbo.tab_projects_allocation
    WHERE 1 = 0;  -- << retorna estrutura sem linhas (opcional)
    RETURN;
    END
   IF @Opcao = 4
    BEGIN
        IF @Numero IS NULL
        BEGIN
            RAISERROR('Informe a tarefa em @Numero (cod_tarefa).', 16, 1);
            RETURN;
        END;

        DECLARE @NovoStatus CHAR(1);

        IF EXISTS (
            SELECT 1
            FROM dbprojeto.dbo.tab_projects_allocation a
            WHERE a.cod_tarefa = @Numero
              AND a.data_termino IS NULL
        )
            SET @NovoStatus = 'E';
        ELSE
            SET @NovoStatus = 'C';

        UPDATE dbprojeto.dbo.tab_projects_tasks
           SET Status = @NovoStatus
         WHERE cod_tarefa = @Numero;

        -- opcional: retorna o status atualizado (ajuda no debug)
        SELECT @Numero AS cod_tarefa, @NovoStatus AS Status;

       RETURN;
    END
    RAISERROR('Opcao invalida.', 16, 1);

END;
GO
/****** Object:  StoredProcedure [dbo].[spr_colaboradores]    Script Date: 08/03/2026 18:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spr_colaboradores]
(
    @ID      INT = NULL,
    @Empresa INT = NULL,
    @Nome    VARCHAR(250) = NULL,
    @Data    DATETIME = NULL,
    @Data2   DATETIME = NULL,
    @Numero  INT = NULL,
    @Opcao   INT,
    @Texto   VARCHAR(250) = NULL
)

-----------------------------------------------------------------------------------------------------------------------
-- PROCEUDRE CRIADA NO DIA 23/01/2026																				 --
-- --------------------------------------------------------------------------------------------------------------------
-- FEITA POR Wanderson Santos Araujo																				 --
-----------------------------------------------------------------------------------------------------------------------
-- Wanderson 23/01/2026 | Criação de pesquisa e cadastro com as Opção 1 e 2											 --
--           |																										 --
--           |																										 --
--           |																										 --
--           |																										 --
-----------------------------------------------------------------------------------------------------------------------

AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @SQL NVARCHAR(MAX);

    IF @Opcao = 1
    BEGIN
        SELECT cod_funcionario,
               Nome,
               Cargo,
               Departamento
        FROM dbprojeto.dbo.tab_employees;
    END
    ELSE 
    IF @Opcao = 2
    BEGIN
        DECLARE @like VARCHAR(252) = '%' + ISNULL(@Texto,'') + '%';

        -- 🔒 validação obrigatória (sem mudar texto)
        IF @Nome IS NULL
        BEGIN
            RAISERROR('A pesquisa feita não trouxe nenhum resultado verifique a opcao de pesquisa valida',16,1);
            RETURN;
        END

        -- whitelist
        IF @Nome NOT IN ('cod_funcionario','Nome','Cargo','Departamento')
        BEGIN
            RAISERROR('A pesquisa feita não trouxe nenhum resultado verifique a opcao de pesquisa valida',16,1);
            RETURN;
        END

        SET @sql = N'
        IF NOT EXISTS (
            SELECT 1
            FROM dbprojeto.dbo.tab_employees
            WHERE ';

        IF @Nome = 'cod_funcionario'
        BEGIN
            SET @sql += N'cod_funcionario = TRY_CONVERT(INT,@pTexto)';
        END
        ELSE
        BEGIN
            SET @sql += QUOTENAME(@Nome) + N' LIKE @pLike';
        END

        SET @sql += N'
        )
        BEGIN
            RAISERROR(''A pesquisa feita não trouxe nenhum resultado verifique a opcao de pesquisa valida'',16,1);
            RETURN;
        END

        SELECT cod_funcionario,
               Nome,
               Cargo,
               Departamento
        FROM dbprojeto.dbo.tab_employees
        WHERE ';

        IF @Nome = 'cod_funcionario'
        BEGIN
            SET @sql += N'cod_funcionario = TRY_CONVERT(INT,@pTexto)';
        END
        ELSE
        BEGIN
            SET @sql += QUOTENAME(@Nome) + N' LIKE @pLike';
        END

        EXEC sp_executesql
            @sql,
            N'@pTexto VARCHAR(250), @pLike VARCHAR(252)',
            @pTexto = @Texto,
            @pLike  = @like;

        RETURN;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[spr_projetos]    Script Date: 08/03/2026 18:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spr_projetos]
(
    @ID      INT = NULL,
    @Empresa INT = NULL,
    @Nome    VARCHAR(250) = NULL,
    @Data    DATETIME = NULL,
    @Data2   DATETIME = NULL,
    @Numero  INT = NULL,
    @Opcao   INT,
    @Texto   VARCHAR(250) = NULL
)

-----------------------------------------------------------------------------------------------------------------------
-- PROCEUDRE CRIADA NO DIA 23/01/2026																				 --
-- --------------------------------------------------------------------------------------------------------------------
-- FEITA POR Wanderson Santos Araujo																				 --
-----------------------------------------------------------------------------------------------------------------------
-- Wanderson 23/01/2026 | Criação de pesquisa e cadastro com as Opção 1 e 2											 --
--           |																										 --
--           |																										 --
--           |																										 --
--           |																										 --
-----------------------------------------------------------------------------------------------------------------------

AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @SQL NVARCHAR(MAX);

    IF @Opcao = 1
    BEGIN
        SELECT cod_projeto,
               Nome,
               descricao,
               Data_inicio, 
               data_termino, 
               Status
        FROM dbprojeto.dbo.tab_projects;
    END
    ELSE 
    IF @Opcao = 2
    BEGIN
        DECLARE @like VARCHAR(252) = '%' + ISNULL(@Texto,'') + '%';

        -- (recomendado) whitelist pra evitar coluna inválida/injection
        IF @Nome NOT IN ('cod_projeto','Nome','descricao','Status','Data_inicio','data_termino')
        BEGIN
            RAISERROR('a pesquisa feita não trouxe nenhum resultado verifique a opcao de pesquisa valida',16,1);
            RETURN;
        END

        -- monta: IF NOT EXISTS (...) RAISERROR ELSE SELECT ...
        SET @sql = N'
        IF NOT EXISTS (
            SELECT 1
            FROM dbprojeto.dbo.tab_projects
            WHERE ';

        IF @Nome IN ('Data_inicio','data_termino')
        BEGIN
            SET @sql += QUOTENAME(@Nome) + N' >= @pData
                      AND ' + QUOTENAME(@Nome) + N' <  DATEADD(DAY,1,CONVERT(date,@pData2))';
        END
        ELSE IF @Nome = 'cod_projeto'
        BEGIN
            SET @sql += N'cod_projeto = TRY_CONVERT(INT,@pTexto)';
        END
        ELSE
        BEGIN
            SET @sql += QUOTENAME(@Nome) + N' LIKE @pLike';
        END

        SET @sql += N'
        )
        BEGIN
            RAISERROR(''a pesquisa feita não trouxe nenhum resultado verifique a opcao de pesquisa valida'',16,1);
            RETURN;
        END

        SELECT cod_projeto, Nome, descricao, Data_inicio, data_termino, Status
        FROM dbprojeto.dbo.tab_projects
        WHERE ';

        IF @Nome IN ('Data_inicio','data_termino')
        BEGIN
            SET @sql += QUOTENAME(@Nome) + N' >= @pData
                      AND ' + QUOTENAME(@Nome) + N' <  DATEADD(DAY,1,CONVERT(date,@pData2))';
        END
        ELSE IF @Nome = 'cod_projeto'
        BEGIN
            SET @sql += N'cod_projeto = TRY_CONVERT(INT,@pTexto)';
        END
        ELSE
        BEGIN
            SET @sql += QUOTENAME(@Nome) + N' LIKE @pLike';
        END

        EXEC sp_executesql
            @sql,
            N'@pTexto VARCHAR(250), @pLike VARCHAR(252), @pData DATETIME, @pData2 DATETIME',
            @pTexto = @Texto,
            @pLike  = @like,
            @pData  = @Data,
            @pData2 = @Data2;

        RETURN;
    END
  IF @Opcao = 3
BEGIN
    ;WITH T AS
    (
        SELECT
            p.cod_projeto,
            p.Nome,
            p.descricao,
            p.Data_inicio,
            p.data_termino,

            -- fallback do status do projeto (quando não houver tarefas)
            p.Status AS Status_Projeto,

            -- contagens de tarefas
            COUNT(t.cod_tarefa) AS qtd_tarefas,
            SUM(CASE WHEN t.Status = 'C' THEN 1 ELSE 0 END) AS qtd_concluidas,
            SUM(CASE WHEN t.Status = 'P' THEN 1 ELSE 0 END) AS qtd_pendentes,
            SUM(CASE WHEN t.Status = 'E' THEN 1 ELSE 0 END) AS qtd_em_andamento,
            SUM(CASE WHEN t.Status = 'S' THEN 1 ELSE 0 END) AS qtd_suspensas,
            SUM(CASE WHEN t.cod_tarefa IS NOT NULL AND t.Status <> 'C' THEN 1 ELSE 0 END) AS qtd_nao_concluidas
        FROM dbprojeto.dbo.tab_projects p
        LEFT JOIN dbprojeto.dbo.tab_projects_tasks t
            ON t.cod_projeto = p.cod_projeto
        WHERE
            (@ID IS NULL OR p.cod_projeto = @ID)
            AND (
                @Data IS NULL OR @Data2 IS NULL
                OR (
                    p.Data_inicio >= @Data
                    AND p.Data_inicio < DATEADD(DAY,1,CONVERT(date,@Data2))
                )
            )
        GROUP BY
            p.cod_projeto, p.Nome, p.descricao, p.Data_inicio, p.data_termino, p.Status
    )
    SELECT
        cod_projeto,
        Nome,
        descricao,
        Data_inicio,
        data_termino,

        CASE
            -- sem tarefas: usa status do projeto, senão P
            WHEN qtd_tarefas = 0 THEN ISNULL(NULLIF(Status_Projeto,''), 'P')

            -- todas as tarefas concluídas
            WHEN qtd_concluidas = qtd_tarefas THEN 'C'

            -- se existe tarefa não concluída e todas as não concluídas estão suspensas
            WHEN qtd_suspensas > 0
                 AND (qtd_pendentes + qtd_em_andamento) = 0
                 AND qtd_nao_concluidas = qtd_suspensas THEN 'S'

            -- qualquer outro caso com tarefa aberta = em andamento
            ELSE 'E'
        END AS Status,

        -- colunas úteis pro relatório
        qtd_tarefas,
        qtd_concluidas,
        qtd_pendentes,
        qtd_em_andamento,
        qtd_suspensas,
        (qtd_tarefas - qtd_concluidas) AS qtd_em_aberto
    FROM T
    ORDER BY Nome;

    RETURN;
END
END;
GO
/****** Object:  StoredProcedure [dbo].[spr_tarefas]    Script Date: 08/03/2026 18:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spr_tarefas]
(
    @ID      INT = NULL,
    @Empresa INT = NULL,
    @Nome    VARCHAR(250) = NULL,
    @Data    DATETIME = NULL,
    @Data2   DATETIME = NULL,
    @Numero  INT = NULL,
    @Opcao   INT,
    @Texto   VARCHAR(250) = NULL
)

-----------------------------------------------------------------------------------------------------------------------
-- PROCEUDRE CRIADA NO DIA 23/01/2026																				 --
-- --------------------------------------------------------------------------------------------------------------------
-- FEITA POR Wanderson Santos Araujo																				 --
-----------------------------------------------------------------------------------------------------------------------
-- Wanderson 23/01/2026 | Criação de pesquisa e cadastro com as Opção 1 e 2											 --
--           |																										 --
--           |																										 --
--           |																										 --
--           |																										 --
-----------------------------------------------------------------------------------------------------------------------

AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @SQL NVARCHAR(MAX);

     IF @Opcao = 1
    BEGIN
        SELECT cod_tarefa,
               cod_projeto,
               Nome,
               descricao,
               Data_inicio, 
               data_termino, 
               Status
        FROM dbprojeto.dbo.tab_projects_tasks;
        RETURN;
    END
    ELSE IF @Opcao = 2
    BEGIN
        DECLARE @like VARCHAR(252) = '%' + ISNULL(@Texto,'') + '%';

        IF @Nome NOT IN ('cod_tarefa','cod_projeto','Nome','descricao','Status','Data_inicio','data_termino')
        BEGIN
            RAISERROR('A pesquisa feita não trouxe nenhum resultado verifique a opcao de pesquisa valida',16,1);
            RETURN;
        END

        SET @sql = N'
        IF NOT EXISTS (
            SELECT 1
            FROM dbprojeto.dbo.tab_projects_tasks
            WHERE ';

        IF @Nome IN ('Data_inicio','data_termino')
        BEGIN
            SET @sql += QUOTENAME(@Nome) + N' >= @pData
                      AND ' + QUOTENAME(@Nome) + N' <  DATEADD(DAY,1,CONVERT(date,@pData2))';
        END
        ELSE IF @Nome = 'cod_tarefa'
        BEGIN
            SET @sql += N'cod_tarefa = TRY_CONVERT(INT,@pTexto)';
        END
        ELSE
        BEGIN
            SET @sql += QUOTENAME(@Nome) + N' LIKE @pLike';
        END

        SET @sql += N'
        )
        BEGIN
            RAISERROR(''A pesquisa feita não trouxe nenhum resultado verifique a opcao de pesquisa valida'',16,1);
            RETURN;
        END

        SELECT cod_tarefa, cod_projeto, Nome, descricao, Data_inicio, data_termino, Status
        FROM dbprojeto.dbo.tab_projects_tasks
        WHERE ';

        IF @Nome IN ('Data_inicio','data_termino')
        BEGIN
            SET @sql += QUOTENAME(@Nome) + N' >= @pData
                      AND ' + QUOTENAME(@Nome) + N' <  DATEADD(DAY,1,CONVERT(date,@pData2))';
        END
        ELSE IF @Nome = 'cod_tarefa'
        BEGIN
            SET @sql += N'cod_tarefa = TRY_CONVERT(INT,@pTexto)';
        END
        ELSE
        BEGIN
            SET @sql += QUOTENAME(@Nome) + N' LIKE @pLike';
        END

        EXEC sp_executesql
            @sql,
            N'@pTexto VARCHAR(250), @pLike VARCHAR(252), @pData DATETIME, @pData2 DATETIME',
            @pTexto = @Texto,
            @pLike  = @like,
            @pData  = @Data,
            @pData2 = @Data2;

        RETURN;
    END
    ELSE IF @Opcao = 3
    BEGIN
        IF @Numero IS NULL OR @Numero <= 0
        BEGIN
            RAISERROR('Projeto inválido. Informe o cod_projeto.',16,1);
            RETURN;
        END

        IF @Data IS NULL OR @Data2 IS NULL
        BEGIN
            RAISERROR('Datas inválidas. Informe Data Início e Data Término da tarefa.',16,1);
            RETURN;
        END

        IF @Data > @Data2
        BEGIN
            RAISERROR('A Data Início da tarefa não pode ser maior que a Data Término.',16,1);
            RETURN;
        END

        DECLARE @ProjIni DATETIME, @ProjFim DATETIME;

        SELECT
            @ProjIni = p.Data_inicio,
            @ProjFim = p.Data_termino
        FROM dbprojeto.dbo.tab_projects p
        WHERE p.cod_projeto = @Numero;

        IF @ProjIni IS NULL
        BEGIN
            RAISERROR('Projeto não encontrado ou sem Data Início cadastrada.',16,1);
            RETURN;
        END

        IF @Data < @ProjIni
        BEGIN
            RAISERROR('A Data Início da tarefa não pode ser menor que a Data Início do projeto.',16,1);
            RETURN;
        END

        IF @ProjFim IS NOT NULL AND @Data2 > @ProjFim
        BEGIN
            RAISERROR('A Data Término da tarefa não pode ser maior que a Data Término do projeto.',16,1);
            RETURN;
        END
        SELECT 1 AS OK;
        RETURN;
    END
    ELSE IF @Opcao = 4
    BEGIN
        IF @Numero IS NULL OR @Numero <= 0
        BEGIN
            RAISERROR('Projeto inválido. Informe o cod_projeto.',16,1);
            RETURN;
        END

        IF EXISTS (
            SELECT 1
            FROM dbprojeto.dbo.tab_projects_tasks t
            WHERE t.cod_projeto = @Numero
              AND (t.Status IS NULL OR t.Status <> 'C')
        )
        BEGIN
            UPDATE dbprojeto.dbo.tab_projects
               SET Status = 'E'
             WHERE cod_projeto = @Numero
               AND Status <> 'S'; -- não pisa em suspenso (opcional)
        END
        ELSE
        BEGIN
            UPDATE dbprojeto.dbo.tab_projects
               SET Status = 'C'
             WHERE cod_projeto = @Numero;
        END

        SELECT 1 AS OK;
    RETURN;
    END
     IF @Opcao = 5
    BEGIN
        SELECT
            tp.cod_projeto,
            tp.nome            AS nome_projeto,
            tp.data_inicio     AS projeto_data_inicio,
            tp.data_termino    AS projeto_data_termino_prevista,

            tps.cod_tarefa,
            tps.nome           AS nome_tarefa,
            tps.descricao      AS descricao_tarefa,
            tps.status         AS status_tarefa,

            te.cod_funcionario,
            te.nome            AS nome_colaborador,

            tpa.cod_alocacao,
            tpa.data_inicio    AS alocacao_data_inicio,
            tpa.data_termino   AS alocacao_data_termino
        FROM dbo.tab_projects tp
        JOIN dbo.tab_projects_tasks tps
             ON tps.cod_projeto = tp.cod_projeto
        LEFT JOIN dbo.tab_projects_allocation tpa
             ON tpa.cod_tarefa = tps.cod_tarefa
        LEFT JOIN dbo.tab_employees te
             ON te.cod_funcionario = tpa.cod_funcionario
        WHERE
            -- projeto em andamento = existe pelo menos 1 tarefa não concluída
            EXISTS (
                SELECT 1
                FROM dbo.tab_projects_tasks tx
                WHERE tx.cod_projeto = tp.cod_projeto
                  AND ISNULL(tx.status,'') <> 'C'
            )
            -- listar apenas tarefas não concluídas no relatório
            AND ISNULL(tps.status,'') <> 'C'

            -- filtros opcionais (se quiser usar depois)
            AND (@ID IS NULL OR tp.cod_projeto = @ID)
            AND (
                @Data IS NULL OR @Data2 IS NULL
                OR (tp.data_inicio >= @Data AND tp.data_inicio < DATEADD(DAY,1,CONVERT(date,@Data2)))
            )
        ORDER BY
            tp.nome,
            tps.nome,
            te.nome;

        RETURN;
    END


END;
GO
USE [master]
GO
